.map-page {
  .container {
    @media (min-width: 576px) {
      max-width: 670px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
    @media (min-width: 1700px) {
      max-width: 1700px;
    }
    @media (min-width: 1920px) {
      max-width: 1800px;
    }
  }
  .map-wrapper {
    background: #331821;
    padding-top: 250px;
    padding-bottom: 150px;
    h2 {
      font-size: 1.667rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 50px;
      @media (max-width: 767px) {
        font-size: 1.5rem;
        margin-bottom: 35px;
      }
      @media (max-width: 575px) {
        font-size: 1.4rem;
        margin-bottom: 25px;
      }
    }
    .map-block {
      position: relative;
      @media (max-width: 670px) {
        width: 560px;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 575px) {
        width: 500px;
      }
      @media (max-width: 520px) {
        width: 440px;
      }
      @media (max-width: 460px) {
        width: 390px;
      }
      @media (max-width: 405px) {
        width: 350px;
      }
      @media (max-width: 365px) {
        width: 310px;
      }
      @media (max-width: 325px) {
        width: 290px;
      }
      .map-img {
        width: 100%;
      }

      .seat {
        font-size: 1rem;
        padding: 9px 16px;
        color: #fff;
        background: #ff3773;
        border-radius: 6px;
        position: absolute;
        max-width: fit-content;
        transition: all 0.4s;
        @media (max-width: 1921px) {
          padding: 12px 16px;
        }
        @media (max-width: 1919px) {
          padding: 10px 15px;
        }
        @media (max-width: 1699px) {
          padding: 6px 11px;
        }
        @media (max-width: 1499px) {
          font-size: 1.2rem;
          padding: 5px 11px;
        }
        @media (max-width: 1399px) {
          padding: 3px 8px;
        }
        @media (max-width: 1199px) {
          font-size: 1.1rem;
          padding: 1px 6px;
          border-radius: 4px;
        }
        @media (max-width: 991px) {
          font-size: 0.9rem;
          line-height: 1;
          padding: 3px;
          border-radius: 3px;
        }
        @media (max-width: 767px) {
          padding: 4px;
          border-radius: 2px;
        }
        @media (max-width: 670px) {
          padding: 2px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 575px) {
          font-size: 0.8rem;
        }
        @media (max-width: 520px) {
          font-size: 0.7rem;
          padding-left: 3px;
          padding-bottom: 0;
        }
        @media (max-width: 460px) {
          font-size: 0.6rem;
          padding-left: 1px;
          padding-bottom: 1px;
        }
        @media (max-width: 405px) {
          font-size: 0.5rem;
          padding-left: 2px;
        }
        @media (max-width: 365px) {
          font-size: 0.47rem;
          padding: 1px;
          padding-top: 2px;
          padding-left: 1px;
        }
        @media (max-width: 325px) {
          padding: 1px;
          padding-top: 2px;
          padding-left: 1px;
        }
        &:hover {
          color: #ff3773;
          background: #fff;
          transition: all 0.4s;
        }
      }
      .seat1-1 {
        right: 156px;
        bottom: 95px;
        @media (max-width: 1921px) {
          right: 158px;
          bottom: 96px;
          padding: 12px 18px;
        }
        @media (max-width: 1919px) {
          right: 149px;
          bottom: 91px;
          padding: 10px 16px;
        }
        @media (max-width: 1699px) {
          right: 115px;
          bottom: 70px;
          padding: 7px 12px;
        }
        @media (max-width: 1499px) {
          right: 114px;
          padding: 3px 8px;
        }
        @media (max-width: 1399px) {
          right: 99px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          right: 84px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 6px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          right: 62px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 4px;
          padding-left: 4px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          right: 58px;
          bottom: 35px;
          font-size: 0.9rem;
        }
        @media (max-width: 670px) {
          right: 50px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 3px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          right: 44px;
          bottom: 27px;
          font-size: 0.8rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          right: 39px;
          bottom: 24px;
          padding-left: 1px;
          padding-right: 2px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 460px) {
          right: 35px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 1px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          right: 31px;
          bottom: 19px;
          padding-top: 2px;
          padding-right: 1px;
          font-size: 0.6rem;
        }
        @media (max-width: 365px) {
          right: 27px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 2px;
        }
        @media (max-width: 325px) {
          right: 26px;
          bottom: 15px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 0.4px;
        }
      }
      .seat1-2 {
        right: 273px;
        bottom: 95px;
        @media (max-width: 1921px) {
          right: 276px;
          bottom: 96px;
        }
        @media (max-width: 1919px) {
          right: 261px;
          bottom: 91px;
        }
        @media (max-width: 1699px) {
          right: 200px;
          bottom: 70px;
        }
        @media (max-width: 1499px) {
          right: 202px;
          bottom: 71px;
        }
        @media (max-width: 1399px) {
          right: 173px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          right: 147px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 5px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          right: 109px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 4px;
          padding-left: 3px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          right: 207px;
          bottom: 35px;
          font-size: 0.9rem;
          padding-right: 3px;
        }
        @media (max-width: 670px) {
          right: 87px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          right: 78px;
          bottom: 27px;
          font-size: 0.8rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          right: 68px;
          bottom: 24px;
          padding-left: 1px;
          padding-right: 2px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 460px) {
          right: 61px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 1px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          right: 55px;
          bottom: 19px;
          padding-top: 2px;
          font-size: 0.6rem;
          padding-left: 0px;
        }
        @media (max-width: 365px) {
          right: 48px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 2px;
        }
        @media (max-width: 325px) {
          right: 45px;
          bottom: 15px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 1px;
        }
      }
      .seat2-1 {
        right: 561px;
        bottom: 95px;
        @media (max-width: 1921px) {
          right: 565px;
          bottom: 96px;
        }
        @media (max-width: 1919px) {
          right: 533px;
          bottom: 91px;
        }
        @media (max-width: 1699px) {
          right: 411px;
          bottom: 70px;
        }
        @media (max-width: 1499px) {
          right: 412px;
          bottom: 71px;
        }
        @media (max-width: 1399px) {
          right: 356px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          right: 299px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 5px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          right: 222px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 4px;
          padding-left: 3px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          right: 207px;
          bottom: 35px;
          font-size: 0.9rem;
          padding-right: 3px;
        }
        @media (max-width: 670px) {
          right: 178px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          right: 159px;
          bottom: 27px;
          font-size: 0.8rem;
          padding: 3px 2px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          right: 140px;
          bottom: 24px;
          padding-left: 1px;
          padding-right: 2px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 460px) {
          right: 124px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 1px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          right: 112px;
          bottom: 19px;
          padding-top: 2px;
          font-size: 0.6rem;
          padding-left: 1px;
          padding-right: 0px;
        }
        @media (max-width: 365px) {
          right: 99px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 1px;
        }
        @media (max-width: 325px) {
          right: 93px;
          bottom: 15px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 0.4px;
        }
      }
      .seat2-2 {
        right: 680px;
        bottom: 95px;
        @media (max-width: 1921px) {
          right: 683px;
          bottom: 96px;
        }
        @media (max-width: 1919px) {
          right: 645px;
          bottom: 91px;
        }
        @media (max-width: 1699px) {
          right: 499px;
          bottom: 70px;
        }
        @media (max-width: 1499px) {
          right: 499px;
          bottom: 71px;
        }
        @media (max-width: 1399px) {
          right: 430px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          right: 361px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 5px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          right: 269px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          right: 251px;
          bottom: 35px;
          font-size: 0.9rem;
        }
        @media (max-width: 670px) {
          right: 216px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          right: 194px;
          bottom: 27px;
          padding-left: 1px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          right: 170px;
          bottom: 23px;
          padding-left: 1px;
          padding-right: 2px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 1px;
        }
        @media (max-width: 460px) {
          right: 151px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 0;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          right: 135px;
          bottom: 19px;
          padding-top: 2px;
          font-size: 0.6rem;
          padding-left: 0px;
          padding-right: 0px;
        }
        @media (max-width: 365px) {
          right: 120px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 1px;
        }
        @media (max-width: 325px) {
          right: 112px;
          bottom: 15px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 0.4px;
        }
      }
      .seat3-1 {
        right: 960px;
        bottom: 95px;
        @media (max-width: 1921px) {
          right: 966px;
          bottom: 96px;
        }
        @media (max-width: 1919px) {
          right: 910px;
          bottom: 91px;
        }
        @media (max-width: 1699px) {
          right: 705px;
          bottom: 70px;
        }
        @media (max-width: 1499px) {
          right: 705px;
          bottom: 71px;
        }
        @media (max-width: 1399px) {
          right: 607px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          right: 511px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 5px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          right: 380px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 4px;
          padding-left: 3px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          right: 354px;
          bottom: 35px;
          font-size: 0.9rem;
          padding-right: 3px;
        }
        @media (max-width: 670px) {
          right: 305px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 1px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          right: 273px;
          bottom: 27px;
          font-size: 0.8rem;
          padding: 3px 1px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          right: 240px;
          bottom: 24px;
          padding-left: 0px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 460px) {
          right: 213px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 1px;
          padding-right: 0px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          right: 191px;
          bottom: 19px;
          padding-top: 2px;
          font-size: 0.6rem;
          padding-left: 0px;
          padding-right: 1px;
        }
        @media (max-width: 365px) {
          right: 169px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 1px;
        }
        @media (max-width: 325px) {
          right: 158px;
          bottom: 15px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 1.3px;
          padding-left: 0;
          padding-top: 1.1px;
        }
      }
      .seat3-2 {
        left: 623px;
        bottom: 95px;
        @media (max-width: 1921px) {
          left: 629px;
          bottom: 96px;
        }
        @media (max-width: 1919px) {
          left: 593px;
          bottom: 91px;
        }
        @media (max-width: 1699px) {
          left: 457px;
          bottom: 70px;
        }
        @media (max-width: 1499px) {
          left: 456px;
          bottom: 71px;
        }
        @media (max-width: 1399px) {
          left: 393px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          left: 333px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 5px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          left: 247px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 4px;
          padding-left: 3px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          left: 229px;
          bottom: 35px;
          font-size: 0.9rem;
        }
        @media (max-width: 670px) {
          left: 197px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          left: 177px;
          bottom: 27px;
          font-size: 0.8rem;
          padding: 3px 1px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          left: 155px;
          bottom: 23px;
          padding-left: 0px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 1px;
        }
        @media (max-width: 460px) {
          left: 138px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 1px;
          padding-right: 0px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          left: 125px;
          bottom: 19px;
          padding-top: 2px;
          font-size: 0.6rem;
          padding-left: 0px;
          padding-right: 1px;
        }
        @media (max-width: 365px) {
          left: 110px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 1px;
        }
        @media (max-width: 325px) {
          left: 102px;
          bottom: 15px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 1.3px;
          padding-left: 0;
          padding-top: 1.1px;
        }
      }
      .seat4-1 {
        left: 345px;
        bottom: 95px;
        @media (max-width: 1921px) {
          left: 349px;
          bottom: 96px;
        }
        @media (max-width: 1919px) {
          left: 328px;
          bottom: 91px;
        }
        @media (max-width: 1699px) {
          left: 253px;
          bottom: 70px;
        }
        @media (max-width: 1499px) {
          left: 254px;
          bottom: 71px;
        }
        @media (max-width: 1399px) {
          left: 217px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          left: 185px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 5px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          left: 137px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 4px;
          padding-left: 3px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          left: 127px;
          bottom: 35px;
          font-size: 0.9rem;
        }
        @media (max-width: 670px) {
          left: 110px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          left: 98px;
          bottom: 27px;
          font-size: 0.8rem;
          padding: 3px 1px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          left: 86px;
          bottom: 24px;
          padding-left: 0px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 460px) {
          left: 77px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 1px;
          padding-right: 0px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          left: 69px;
          bottom: 19px;
          padding-top: 2px;
          font-size: 0.6rem;
          padding-left: 1px;
          padding-right: 1px;
        }
        @media (max-width: 365px) {
          left: 61px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 1px;
        }
        @media (max-width: 325px) {
          left: 57px;
          bottom: 16px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 1px;
          padding-left: 0;
          padding-top: 1px;
        }
      }
      .seat4-2 {
        left: 223px;
        bottom: 95px;
        @media (max-width: 1921px) {
          left: 228px;
          bottom: 96px;
        }
        @media (max-width: 1919px) {
          left: 215px;
          bottom: 91px;
        }
        @media (max-width: 1699px) {
          left: 164px;
          bottom: 70px;
        }
        @media (max-width: 1499px) {
          left: 164px;
          bottom: 71px;
          border-radius: 5px;
        }
        @media (max-width: 1399px) {
          left: 140px;
          bottom: 60px;
        }
        @media (max-width: 1199px) {
          left: 121px;
          bottom: 51px;
          font-size: 1rem;
          padding: 2px 4.5px;
          border-radius: 3px;
        }
        @media (max-width: 991px) {
          left: 89px;
          bottom: 38px;
          font-size: 0.8rem;
          padding: 4px 4px;
          padding-left: 3px;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 3px;
        }
        @media (max-width: 767px) {
          left: 82px;
          bottom: 35px;
          font-size: 0.9rem;
        }
        @media (max-width: 670px) {
          left: 71px;
          bottom: 30px;
          font-size: 0.85rem;
          padding: 3px 3px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          left: 63px;
          bottom: 27px;
          font-size: 0.8rem;
          padding: 3px 1px;
          padding-left: 2px;
          border-radius: 3px;
          padding-top: 3px;
          padding-bottom: 1px;
        }
        @media (max-width: 520px) {
          left: 55px;
          bottom: 24px;
          padding-left: 0px;
          padding-right: 1px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 460px) {
          left: 49px;
          bottom: 21px;
          font-size: 0.7rem;
          padding-left: 1px;
          padding-right: 0px;
          border-radius: 1px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
        @media (max-width: 405px) {
          left: 44px;
          bottom: 19px;
          padding-top: 2px;
          font-size: 0.6rem;
          padding-left: 1px;
          padding-right: 1px;
          border-radius: 1px;
        }
        @media (max-width: 365px) {
          left: 39px;
          bottom: 17px;
          font-size: 0.5rem;
          padding-top: 2px;
          padding-left: 1px;
          padding-right: 1px;
        }
        @media (max-width: 325px) {
          left: 37px;
          bottom: 16px;
          font-size: 0.48rem;
          padding-right: 1px;
          padding-bottom: 1px;
          padding-left: 0;
          padding-top: 1px;
        }
      }
      .single-seat {
        padding: 10px 22px;
        @media (max-width: 1921px) {
          padding: 13px 23px;
        }
        @media (max-width: 1699px) {
          padding: 8px 18px;
        }
        @media (max-width: 1499px) {
          padding: 8px 17px;
        }
        @media (max-width: 1399px) {
          padding: 5px 15px;
          padding-bottom: 5px;
        }
        @media (max-width: 1199px) {
          padding: 3px 12px;
        }
        @media (max-width: 991px) {
          padding: 5px 9px;
          border-radius: 4px;
        }
        @media (max-width: 767px) {
          padding: 4px 8px;
          border-radius: 3px;
        }
        @media (max-width: 670px) {
          padding: 3px 6px;
          border-radius: 2px;
        }
        @media (max-width: 520px) {
          padding: 3px 5px;
        }
        @media (max-width: 460px) {
          padding-right: 4px;
          padding-left: 5px;
        }
        @media (max-width: 365px) {
          padding-left: 3px;
          padding-top: 2px;
        }
        @media (max-width: 325px) {
          padding-left: 3px;
          padding-top: 2px;
          padding-right: 3px;
          border-radius: 1px;
        }
      }
      .seat5 {
        left: 78px;
        top: 123px;
        @media (max-width: 1921px) {
          left: 79px;
          top: 123px;
        }
        @media (max-width: 1919px) {
          left: 73px;
          top: 116px;
        }
        @media (max-width: 1699px) {
          left: 55px;
          top: 89px;
        }
        @media (max-width: 1499px) {
          left: 57px;
          top: 88px;
        }
        @media (max-width: 1399px) {
          left: 47px;
          top: 75px;
        }
        @media (max-width: 1199px) {
          left: 40px;
          top: 64px;
        }
        @media (max-width: 991px) {
          left: 29px;
          top: 47px;
        }
        @media (max-width: 767px) {
          left: 28px;
          top: 45px;
        }
        @media (max-width: 670px) {
          left: 25px;
          top: 39px;

          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          left: 22px;
          top: 35px;
        }
        @media (max-width: 520px) {
          left: 19px;
          top: 30px;
          border-radius: 2px;
        }
        @media (max-width: 460px) {
          left: 17px;
          top: 27px;
        }
        @media (max-width: 405px) {
          left: 15px;
          top: 24px;
        }
        @media (max-width: 365px) {
          left: 14px;
          top: 21px;
        }
        @media (max-width: 325px) {
          left: 13px;
          top: 19px;
        }
      }
      .seat6 {
        left: 279px;
        top: 208px;
        @media (max-width: 1921px) {
          left: 280px;
          top: 209px;
        }
        @media (max-width: 1919px) {
          left: 263px;
          top: 195px;
        }
        @media (max-width: 1699px) {
          left: 202px;
          top: 152px;
        }
        @media (max-width: 1499px) {
          left: 204px;
          top: 151px;
        }
        @media (max-width: 1399px) {
          left: 174px;
          top: 129px;
        }
        @media (max-width: 1199px) {
          left: 147px;
          top: 109px;
        }
        @media (max-width: 991px) {
          left: 109px;
          top: 81px;
        }
        @media (max-width: 767px) {
          left: 102px;
          top: 76px;
        }
        @media (max-width: 670px) {
          left: 88px;
          top: 66px;

          padding-bottom: 2px;
        }
        @media (max-width: 575px) {
          left: 78px;
          top: 59px;
        }
        @media (max-width: 520px) {
          left: 69px;
          top: 51px;
          border-radius: 2px;
        }
        @media (max-width: 460px) {
          left: 61px;
          top: 45px;
        }
        @media (max-width: 405px) {
          left: 55px;
          top: 41px;
          padding-left: 4px;
        }
        @media (max-width: 365px) {
          left: 48px;
          top: 36px;
        }
        @media (max-width: 325px) {
          left: 45px;
          top: 34px;
          padding-top: 1px;
          padding-bottom: 1px;
        }
      }
      .seat7 {
        left: 485px;
        top: 112px;
        @media (max-width: 1921px) {
          left: 487px;
          top: 112px;
        }
        @media (max-width: 1919px) {
          left: 458px;
          top: 105px;
        }
        @media (max-width: 1699px) {
          left: 354px;
          top: 81px;
        }
        @media (max-width: 1499px) {
          left: 356px;
          top: 81px;
        }
        @media (max-width: 1399px) {
          left: 306px;
          top: 69px;
        }
        @media (max-width: 1199px) {
          left: 256px;
          top: 58px;
        }
        @media (max-width: 991px) {
          left: 190px;
          top: 43px;
        }
        @media (max-width: 767px) {
          left: 178px;
          top: 41px;
        }
        @media (max-width: 670px) {
          left: 154px;
          top: 36px;

          padding-bottom: 1px;
        }
        @media (max-width: 575px) {
          left: 137px;
          top: 32px;
          padding-top: 3px;
        }
        @media (max-width: 520px) {
          left: 121px;
          top: 28px;
        }
        @media (max-width: 460px) {
          left: 107px;
          top: 25px;
        }
        @media (max-width: 405px) {
          left: 96px;
          top: 22px;
          padding-left: 4px;
        }
        @media (max-width: 365px) {
          left: 85px;
          top: 20px;
          padding-top: 2px;
        }
        @media (max-width: 325px) {
          left: 79px;
          top: 18px;
          padding-top: 2px;
          padding-bottom: 0px;
        }
      }
      .seat8 {
        left: 574px;
        top: 331px;
        padding-right: 20px;
        @media (max-width: 1921px) {
          left: 576px;
          top: 332px;
          padding-right: 21px;
        }
        @media (max-width: 1919px) {
          left: 543px;
          top: 313px;
        }
        @media (max-width: 1699px) {
          left: 419px;
          top: 242px;
          padding: 8px 18px;
        }
        @media (max-width: 1499px) {
          left: 420px;
          top: 242px;
          padding: 8px 17px;
        }
        @media (max-width: 1399px) {
          left: 361px;
          top: 208px;
          padding: 5px 14px;
          padding-right: 13px;
          padding-left: 15px;
        }
        @media (max-width: 1199px) {
          left: 303px;
          top: 174px;
          padding: 3px 11px;
        }
        @media (max-width: 991px) {
          left: 226px;
          top: 130px;
          padding: 5px 8px;
        }
        @media (max-width: 767px) {
          left: 211px;
          top: 122px;
          padding: 4px 7px;
          padding-bottom: 3px;
        }
        @media (max-width: 670px) {
          left: 182px;
          top: 105px;
          padding: 4px 5px;
          padding-bottom: 1px;
        }
        @media (max-width: 575px) {
          left: 163px;
          top: 94px;
          padding: 3px 5px;
          padding-bottom: 2px;
        }
        @media (max-width: 520px) {
          left: 143px;
          top: 82px;
          padding: 3px 5px;
          padding-bottom: 2px;
        }
        @media (max-width: 460px) {
          left: 127px;
          top: 73px;
          padding: 3px 4px;
          padding-bottom: 2px;
        }
        @media (max-width: 405px) {
          left: 114px;
          top: 65px;
          padding-left: 3px;
        }
        @media (max-width: 365px) {
          left: 101px;
          top: 58px;
          padding-top: 2px;
          padding-bottom: 1px;
        }
        @media (max-width: 325px) {
          left: 94px;
          top: 54px;
          padding-top: 2px;
          padding-bottom: 0px;
          padding-right: 3px;
        }
      }
      .seat9 {
        left: 378px;
        top: 367px;
        @media (max-width: 1921px) {
          left: 380px;
          top: 368px;
        }
        @media (max-width: 1919px) {
          left: 357px;
          top: 345px;
        }
        @media (max-width: 1699px) {
          left: 276px;
          top: 268px;
        }
        @media (max-width: 1499px) {
          left: 278px;
          top: 267px;
        }
        @media (max-width: 1399px) {
          left: 238px;
          top: 230px;
        }
        @media (max-width: 1199px) {
          left: 200px;
          top: 194px;
        }
        @media (max-width: 991px) {
          left: 149px;
          top: 144px;
        }
        @media (max-width: 767px) {
          left: 139px;
          top: 135px;
          padding-bottom: 2px;
          padding-top: 5px;
        }
        @media (max-width: 670px) {
          left: 120px;
          top: 116px;
          padding-bottom: 1px;
        }
        @media (max-width: 575px) {
          left: 107px;
          top: 103px;
        }
        @media (max-width: 520px) {
          left: 94px;
          top: 91px;
          border-radius: 2px;
          padding-top: 3px;
        }
        @media (max-width: 460px) {
          left: 84px;
          top: 81px;
        }
        @media (max-width: 405px) {
          left: 75px;
          top: 73px;
          padding-left: 4px;
        }
        @media (max-width: 365px) {
          left: 66px;
          top: 64px;
        }
        @media (max-width: 325px) {
          left: 62px;
          top: 60px;
          padding-top: 1px;
          padding-bottom: 1px;
          padding-left: 3.5px;
          padding-right: 3px;
        }
      }
    }
  }
}
